$('#message').empty();
$('#receiver-modal').modal('show');
$('#receiver_address').keyup(function(){
  var query = 'https://nominatim.openstreetmap.org/search/'+ encodeURIComponent($(this).val()) +'?format=json&addressdetails=1&limit=1&polygon_svg=1'
  var map = null;
  var layer = null;
  var marker = null;
  clearTimeout($.data(this, 'timer'));
  var wait = setTimeout(function(){
    $.ajax({
      url: query,
      dataType: 'JSON',
      type: 'GET',
      success: function(data){
        $.each(data, function(index, element) {
          $('#map-container').empty().html('<div id="map"></div>');
          changeLocation(element.lat, element.lon);
          map = L.map('map').setView([element.lat, element.lon], 18);
          layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});
          marker = L.marker([element.lat, element.lon],{draggable: true});
          layer.addTo(map)
          marker.addTo(map);
          marker.on("drag", function(e) {
            var marker = e.target;
            var position = marker.getLatLng();
            map.panTo(new L.LatLng(position.lat, position.lng));
            changeLocation(position.lat, position.lng);
          });
        });
      }
    });
  }, 2000);
  $(this).data('timer', wait);
});

function changeLocation(lat, lon){
  $('#receiver_lat').val(lat);
  $('#receiver_lon').val(lon);
}
