<p id="notice"><%= notice %></p>

<h1>Sucursales</h1>
<div class="ui segment">
  <div id="loader" class="ui active dimmer">
    <div class="ui text loader">Cargando mapa</div>
  </div>
  <div id="map-container"></div>
</div>
