<div class="ui cards">
  <%= link_to new_package_url, class: "card pop", data:{tooltip:"Registrar paquete", position:"bottom center"} do %>
    <div class="content">
      <div class="ui center aligned segment">
        <i class="huge icons">
          <i class="archive icon"></i>
          <i class="inverted corner add icon"></i>
        </i>
      </div>
    </div>
  <% end %>
  <%= link_to new_user_url, class: "card pop", data:{tooltip:"Registrar usuario", position:"bottom center"} do %>
    <div class="content">
      <div class="ui center aligned segment">
        <i class="huge icons">
          <i class="user icon"></i>
          <i class="inverted corner add icon"></i>
        </i>
      </div>
    </div>
  <% end %>
  <%= link_to new_office_url, class: "card pop", data:{tooltip:"Nueva sucursal", position:"bottom center"} do %>
    <div class="content">
      <div class="ui center aligned segment">
        <i class="huge icons">
          <i class="map pin icon"></i>
          <i class="inverted corner add icon"></i>
        </i>
      </div>
    </div>
  <% end %>
</div>
