<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Ingreso
      </div>
    </h2>
    <%= form_for :session, url: create_url, remote: true do |f| %>
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :email, placeholder: 'Correo electrónico' %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: 'Contraseña' %>
          </div>
        </div>
        <%= f.submit 'Entrar', class: 'ui fluid teal submit button' %>
      </div>
      <div id="message">
      </div>
    <% end %>
  </div>
</div>
