<div id="utype-modal" class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Nuevo rol
  </div>
  <div class="content">
    <div class="ui two column centered grid">
      <div class="column">
        <div id="message"></div>
        <%= form_for :user_type, url: user_types_create_remote_url, remote: true, html:{class:'ui form'} do |f| %>
          <div class="field">
            <%= f.label :title, 'Descripción' %>
            <%= f.text_field :title %>
          </div>
          <%= f.submit 'Guardar', class: "ui green button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
