<% if @user_type.save %>
  $('#user_user_type_id').append("<option value='<%= @user_type.id %>'><%= @user_type.title %></option>");
  $('#utype-modal').modal('hide');
<% else %>
  $('#message').append("<%= j render 'general/error', model_object: @user_type %>");
<% end %>

$('.message .close').on('click', function() {
  $(this).closest('.message').transition('fade');
});
