<p id="notice"><%= notice %></p>

<h1>Rutas</h1>

<% @courses.each do |course| %>
  <div class="column route">
    <% if course.express %>
      <label class="ui orange label attach">Ruta: <%= course.title %></label>
    <% else %>
      <label class="ui teal label attach">Ruta: <%= course.title %></label>
    <% end %>
    <div class="ui tiny steps">
      <% course.route['r'].each do |route| %>
        <% if route != '' %>
          <% office = Office.find_by(id: route) %>
          <div class="step">
            <i class="map pin icon"></i>
            <div class="content">
              <div class="title"><%= office.description %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
