<p id="notice"><%= notice %></p>

<h1>Rutas</h1>

<% @courses.each do |course| %>
  <div class="column route">
    <label class="ui teal label attach">Ruta: <%= course.title %></label>
    <div class="ui tiny steps">
      <% r = course.route['r'].reject { |c| c.empty? } %>
      <% r.each do |route| %>
        <% office = Office.find_by(id: route) %>
        <div class="step">
          <i class="map pin icon"></i>
          <div class="content">
            <div class="title"><%= office.description %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
